<div class="header">
  <div class="info">
    <span class="title">{{ supplier?.name }}</span>
    <span class="subtitle">CNPJ: <span class="subtitle" style="margin-left:10px;">{{ supplier?.cnpj }}</span></span>
  </div>
  <div class="contact">
    <div class="pill">
      <i class="icon ic-user-document"></i>
      {{ supplier?.phoneMain }}
    </div>
    <div class="pill">
      <i class="icon ic-user-document"></i>
      {{ supplier?.phoneSecondary }}
    </div>
    <div class="pill">
      <i class="icon ic-globe-wired-simple"></i>
      {{ supplier?.website }}
    </div>
  </div>
</div>
