.card {
    .card-title {
        text-transform: uppercase;
        font-size: 18px;
        font-weight: bold;
        color: #666;
    }

    .table-container {
        table {
            tr {
                border-bottom: 1px solid #EEE;

                th {
                    padding: 10px 0;
                    font-size: 14px;
                    font-weight: 500;
                    width: 10rem;

                    &:first-child {
                        padding-left: 10px;
                    }
                }

                td {
                    padding: 10px 0;
                    font: normal normal normal 14px/20px Roboto;

                    &:first-child {
                        padding-left: 10px;
                    }
                }
            }
        }
    }

}