.breadcrump-component {
  padding-top: 14px;
  padding-bottom: 14px;
}
.breadcrumb {
  font-size: 12px;
  color: #666666 !important;
  background: transparent;
  padding: 0;
  margin: 0;
}
.breadcrumb-item + .breadcrumb-item::before {
  display: inline-block;
  padding-right: 0.5rem;
  color: #666;
  content: "/";
}

a {
  color: #3f51b5;
  text-decoration: none;
}

.active {
  color: #444;
}
