
.wrapper {
    padding: 6%;
}
.title {
    padding: 10% 0% 3%;
    font-size: 1.2rem;
    font-weight: 500;
}

.message {
    padding: 0% 0% 4%;
    font-size: 1rem;
    text-align: center;
}

.body {
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.buttons {
    display: flex;
    align-items: center;
}

.btn-advance {
    border: none;
    color: #fff;
    font-weight: 500;
    border-radius: 6px !important;
    background-color: #43d19e;
    display: flex;
    padding: 1%;
    min-height: 40px;
    min-width: 7rem;
    margin: 0% 1% 0% 0%;
    justify-content: center;
    align-items: center;
  }
  
  .btn-cancel {
    color: #ff7e64;
    border: solid 2px #ff7e64;
    border-radius: 6px !important;
    background-color: #fff;
    display: flex;
    padding: .8%;
    cursor: pointer;
    min-height: 40px;
    min-width: 7rem;
    margin: 0% 1% 0% 0%;
    justify-content: center;
    align-items: center;
  }
.check {
    display: flex;
    justify-content: center;
}
.dds__check {
    background-color: #4caf50;
    font-size: 3rem;
    font-weight: bold;
    padding: 5%;
    color: #FFF;
    border-radius: 100%;
    position: absolute;
    margin-top: -12%;
}