.container {
    padding: 30px 28px 31px!important;
    a {
        cursor: pointer;
    }
}
#dropdownMenuButton {
    display: flex;
    color: #fff;
    font-size: .9rem !important;
    padding: 6% 16%;
    border: none;
    margin-right: 30px;
    border-radius: 14px;
    background-color: #6396d1;
    align-items: center;
}
.header {    
    .material-symbols-outlined {
        font-size: 18px;
        margin-right: 9px;
    }
    display: flex;
    justify-content: space-between;
    .filter {
        min-width: 10%;
    }
}
.search-bar {
    input {
        border-radius: 17px;
        border: none;
        width: 100%;
        padding: 3% 5%;
        background-color: #fff;
    }
    button {
        position: absolute;
        padding-right: 1%;
        font-weight: 700;
        background: none;
        border: none;
    }
    margin-bottom: 3%;
    display: flex;
    flex-direction: row;
    align-items: center;
    max-width: 30%;
    justify-content: flex-end;
}
    

.title{
    span {
        font-size: 2rem;
        font-weight: bold;
    }
    label {
        color: #929292;
        padding: 1% 0%;
    }
    display: flex;
    flex-direction: column;
}
.row-header {
    padding: 2% 0% 0.3%;
    span {
        color: #818181;
        font-size: 1rem;
    }
    .col-3 {
        padding-left: 5%;
    }
}
.edital-name {
    padding-left: 2%;
    display: flex;
    align-items: center;
    div {
        display: flex;
        flex-direction: column;
        .agency {
            margin-top: 1%;
            color: #383838;
        }
        span {
            color: #2871ff;
            cursor: pointer;
        }
    }
    .dds__icons {
        font-size: 1.6rem;
        margin-right: 5%;
    }
}


.table-content {
    margin: 0%;
    font-weight: 600;
    font-size: 0.9rem;
    .area-List {
        flex-direction: column;
        span {
            background-color: #faf3cb;
            padding: 1%;
            margin: 1%;
            text-align: center;
            border-radius: 15px;
        }
    }
    .row {
        align-items: center;
        padding: 1%;
    }
    .col-1, .col-2, .col-3 {
        display: flex;
    }
    .favorite-check {
        padding-left: 3%;
        .material-symbols-outlined {
            font-weight: 200;
            font-size: 45px;
        }
    }
}

.table-objectives {
    label {
        font-weight: bold;
        font-size: 1rem;
    }
    span {
        font-size: 1rem;
    }
    .col-12 {
      display: flex;
        flex-direction: column;
        padding: 0% 4% 1% 4%; 
    }
    div {
        display: flex;
        justify-content: flex-end;
        a {
            margin-top: 2%;
            color: #2871ff;
            text-decoration: underline;
            cursor: pointer;
        }
    }
}

.selected {
    background-color: #fbf6e0;
}
.dark_row {
    background-color: #f8f8f8;
}

.affinity-field {
    color: #ffc000;
    .dds__star-filled {
       font-size: 1rem; 
    }
    
}
.toggle-objectives {
    font-weight: 900;
    border: none;
    font-size: 2rem;
    background: none;
    margin-left: 15%;
}

.table-scroller {
    overflow-y: auto;
    overflow-x: hidden;
    height: 34rem;
}

.table-backgound {
    background-color: white;
    border-radius: 20px;
}
