<span class="dds__icons dds__close-cir" (click)="onClose()"></span>
<div class="wrapper">
    <div class="body">
         <div class="title">
             <span>
                Termos e condições
             </span>
         </div>
         <div class="label">
            <span>
               para sua aprovação
            </span>
        </div>
        <div class="terms-scroller">
            <div class="terms-content">
                {{termsText}}
            </div>     
        </div>    
    </div>
</div>