#recovery-password-container {
  width: 35%;
}

.title {
  color: #000000;
  font-size: 3rem;
  font-weight: bold;
  margin-bottom: 60px;
}

.form-group {
  margin-bottom: 10px!important;
  label {
    font-weight: 500;
    font-size: 0.9rem;
  }
}

.form-control {
  background-color: #fafdff;
  border: 1px solid #9f9f9f !important;
  border-radius: 8px;
}

a {
  text-decoration: underline;
}
  
.btn-advance {
  border: none;
  color: #fff;
  font-weight: 500;
  border-radius: 6px !important;
  background-color: #43d19e;
  display: flex;
  padding: 1%;
  min-height: 40px;
  min-width: 7rem;
  margin: 2% 0%;
  justify-content: center;
  align-items: center;
}

.btn-cancel {
  color: #ff7e64;
  border: solid 2px #ff7e64;
  border-radius: 6px !important;
  background-color: #fff;
  display: flex;
  padding: .8%;
  cursor: pointer;
  min-height: 40px;
  min-width: 7rem;
  margin: 0% 1% 0% 0%;
  justify-content: center;
  align-items: center;
}

.background {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  right: 0;
  width: 100vw;
  height: 100vh;
  background: linear-gradient(to bottom left, rgb(255 68 68 / 18%) 0%, rgba(255, 255, 255, 0) 25%);
  z-index: -1;
}

.invalid-field {
  border: 2px solid #ff0000 !important;
}

.invalid-message {
  color: #ff0000;
}

.buttons{
  display: flex;
  align-items: center;
}

.password-errors-label{
  font-weight: bold;
}
.password-errors {
  .dds__icons {
    color: #000000;
  }
}
.dot {
  background: black;
  width: 10px;
  border-radius: 19px;
  height: 10px;
  margin: 7px;
}
.errors {
  label{
    margin-left: 2px;
    color: #989898;
  }
  display: flex;
  align-items: center;
  padding: 2px;
}

.password-fields{
  display: flex;
  align-items: center;
  justify-content: flex-end;
  span {
    position: absolute;
    padding-right: 1.2%;
  }
}