img {
  background-size: cover;
  height: 490px;
  width: 490px;
  margin-top: 6%;
  margin-left: 50%;
  position: absolute;
  z-index: -1;
  rotate: 16deg;
}
  
#recovery-password-container {
  width: 70%;
  margin: 4% 0% 0% 8%;
}

.title {
  color: #000000;
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 6%;
}

.form-group {
  max-width: 55%;
  margin-bottom: 10px!important;
  label {
    font-weight: 500;
    font-size: 0.9rem;
  }
}

.form-control {
  background-color: #fafdff;
  border: 1px solid #9f9f9f !important;
  border-radius: 8px;
}

a {
  text-decoration: underline;
}
  
.btn-advance {
  border: none;
  color: rgb(0, 0, 0);
  border-radius: 6px !important;
  background-color: #43d19e;
  display: flex;
  padding: 1%;
  margin: 3% 0%;
}

.btn-cancel {
  color: #ff7e64;
  border: solid 2px #ff7e64;
  border-radius: 6px !important;
  background-color: #ffffff;
  display: flex;
  padding: 0.8%;
  cursor: pointer;
  margin: 0% 2% 0% 0%;
}

.password-errors-label{
  font-weight: bold;
  margin-top: 1%;
}

.dds__check{
  font-size: 1.3rem !important;
  font-weight: bolder !important;
}

.errors {
  label{
    margin-left: 2%;
    color: #989898;
  }
  display: flex;
  align-items: center;
  padding: 1%;
}

.password-fields{
  display: flex;
  align-items: center;
  justify-content: flex-end;
  span {
    position: absolute;
    padding-right: 1.2%;
  }
}
.background {
  position: fixed;
  top: 0;
  right: 0;
  width: 100vw;
  height: 100vh;
  background: linear-gradient(to bottom left, rgb(255 68 68 / 18%) 0%, rgba(255, 255, 255, 0) 25%);
  z-index: -1;
}

.invalid-field {
  border: 2px solid #ff0000 !important;
}

.invalid-message {
  color: #ff0000;
}

.buttons{
  display: flex;
  align-items: center;
}