<div id="alertSystem" class="alertConfirmBar fadeIn" *ngIf="isShow" [ngClass]="{'internal-toast ': accessToken}">
  <div class="alert d-flex justify-content-between" role="alertdialog" [ngStyle]="{ 'background-color': color, 'color': fontColor }">
    <div class="d-flex align-items-center">
      <span class="mr-3">
          <i *ngIf="color == '#308c47'" class="icon ic-approved"></i>
          <i *ngIf="color == '#fbe6e5'" class="icon ic-x-circle-solid"></i>
          <i *ngIf="color == '#007DB8'" class="icon ic-info-solid"></i>
      </span>

      <span class="text-alert" tabindex="0">
        <strong>{{ title }}</strong> {{ message }}
      </span>
    </div>

    <div class="d-flex justify-content-end" *ngIf="!fontColor == '#308c47'">
      <a class="mx-2" type="button" (click)="close()">
        <i class="icon ic-rejected"></i>
      </a>
    </div>
  </div>
</div>
