<form #incurredCostsForm="ngForm">
  <div class="form-row">
    <div class="form-group col-md-12">
      <label for="inputDiscriminate">Discriminação dos Principais Dispêndios e Destinações <span class="label-required">*</span></label>
      <textarea type="text" class="form-control"
        id="inputDiscriminate" style="height: 100px !important;"
        name="inputDiscriminate" placeholder="Descreva aqui os principais dispêndios"
        [(ngModel)]="workplanItem.wpiInstituteCost.description" #inputDiscriminate="ngModel" required></textarea>
      <small [hidden]="inputDiscriminate.valid || inputDiscriminate.pristine" class="invalid-alert">Campo obrigatório</small>
    </div>
  </div>

  <div class="form-row">
    <div class="form-group col-md-12">
      <label for="inputJustification">Justificativa <span class="label-required">*</span></label>
      <textarea type="text" class="form-control" id="inputJustification" style="height: 100px !important;"
        name="inputJustification" placeholder="Inserir a justificativa"
        [(ngModel)]="workplanItem.rationale" #inputJustification="ngModel" required></textarea>
      <small [hidden]="inputJustification.valid || inputJustification.pristine" class="invalid-alert">Campo obrigatório</small>
    </div>
  </div>

  <div class="form-row">
    <div class="form-group col-md-12">
      <label for="inputExpenditures">Dispêndios <span class="label-required">*</span></label>
      <input id="inputExpenditures" type="text" currencyMask
        class="form-control" #inputExpenditures="ngModel" required        
        placeholder="Valor Total" name="inputExpenditures"
        [(ngModel)]="workplanItem.value"
        autocomplete="off">
      <small [hidden]="inputExpenditures.valid || inputExpenditures.pristine" class="invalid-alert">Campo obrigatório</small>        
    </div>
  </div>

  <div class="form-row">
    <div class="form-group col">
      <app-funds-table [workplanItem]="workplanItem" [project]="project" #appFunds></app-funds-table>
    </div>
  </div>

  <div class="form-row" style="padding: 5px; justify-content: flex-end;">
    <button class="btn btn-primary" (click)="addWorkplan();" [disabled]="incurredCostsForm.form.invalid" *ngIf="!isEdition">
      <i class="icon ic-add-circ"></i>
      Adicionar
    </button>
    <button class="btn btn-outline-primary mr-3" (click)="cancel();" *ngIf="isEdition">
      Cancelar
    </button>
    <button class="btn btn-primary" (click)="updateWorkplanItem();" [disabled]="incurredCostsForm.form.invalid" *ngIf="isEdition">
      Salvar
    </button>
  </div>
</form>
