.list-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 14px;
}

.list-title {
  font-size: 28px;
  color: #444444;
  font-weight: bold;
}

.list-buttons {
  display: flex;
}

.btn {
  height: 35px !important;
  padding: 0 15px !important;
}

.card-deck {
  margin-right: -8px !important;
  margin-left: -8px !important;
}
