.container-fluid{
  position: fixed;
}
.side-menu-body {
  background-color: #f6f2dd;
  width: 15%;
}
#menu {
  min-width: 100%;
  margin-top: 15%;
}
.nav-item {
  height: 100%;
  width: 85%;
  padding-left: 15%;
  align-self: end;
  display: flex!important;
  align-items: center;
  padding: 6px 30px;
  border-radius: 20px 0px 0px 20px;
  margin: 4px 0px 4px 1px;
  
  span {
    color: #000;
    font-weight: bold;
    font-size: 1rem;
  }
}
.item-selected {
  background-color: #ffffff;
}
.user-img{
  img {
    width: 30px;
    border-radius: 16px;
  }
}
.card-principal{
  padding: 5%;
}