.topbar-logo {
  min-width: 100%;
  height: 55px;
  background-color: #f6f2dd;
  display: flex;
  align-items: center;
  
  .logo {
    max-width: 100px;
    margin-left: 2%;
  }
}
.container-fluid{
  position: fixed;
}
.side-menu-body {
  background: linear-gradient(to bottom left, #efab958f -1%, #f6f2dd 9%);
  width: 5%;
  .logo {
    max-width: 40%;
    min-width: 3rem;
    margin: 15% 0% 0% 6%;
  }
}
#menu {
  min-width: 100%;
  margin-top: 15%;
}

.sub-menu{
  width: 80% !important;
  cursor: pointer;
  &:hover {
    background-color: #ffffff
  }
}

.nav-item {
  height: 100%;
  width: 92%;
  padding-left: 15%;
  align-self: end;
  display: flex !important;
  align-items: flex-end;
  padding: 6px 20px;
  border-radius: 30px 0px 0px 30px;
  margin: 4px 0px 4px 1px;

 
  
  span {
    color: #000;
    padding-right: 5%;
    font-size: 1rem;
    font-weight: bold;
  }

  .icons_google {
    font-weight: normal;
    font-size: 1.4rem;
  }
  
}

.disabled {
  span {
    color: #afafaf !important;
  }
}

.nav-perfil{
  margin: 24% 6% 0%;
  display: flex;
  align-items: center;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
}

.user-img {
  margin-right: 4%;
  img {
    width: 30px;
    border-radius: 16px;
  }
}

.item-selected {
  background-color: #ffffff;
}

.card-principal {
  padding: 2.5%;
}
.profile-label {
  min-width: 100%;
}

.nav-profile-label {
  padding: 6px 9px !important;
  margin-bottom: 60px;
}

.menu-item-label {
  display: none;
}

.logout {
  margin-bottom: 5rem;
}