  <div class="topbar-logo" *ngIf="!accessToken"><img src="../../../assets/images/captiLogo.png" class="logo"></div>
  <div class="container-fluid" *ngIf="accessToken">
    <div class="row flex-nowrap">
      <div class="col-auto col-md-3 col-xl-2 px-0 side-menu-body" >
        <img src="../../../assets/images/captiLogo.png" class="logo">
        <div class="d-flex flex-column align-items-end pt-2 min-vh-100">
          <ul class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center" id="menu">
            <li class="nav-item nav-profile-label" routerLinkActive="item-selected">
              <a [routerLink]="['/profile']" class="nav-link align-middle px-0 profile-label">
                <div class="user-img">
                  <img src="{{authService.user.profileImageUrl}}">
                </div>
                <span class="ms-1 d-none d-sm-inline">Seu perfil</span>
              </a>
            </li>
            <li class="nav-item disabled" routerLinkActive="">
                <a [routerLink]="['/']" class="nav-link align-middle px-0">
                  <span class="icons_google material-symbols-outlined">
                    dashboard
                    </span>
                  <span class="ms-1 d-none d-sm-inline">Recomendação</span>
                </a>
            </li>
            <li class="nav-item disabled">
              <a [routerLink]="['/']" class="nav-link align-middle px-0">
                <span class="icons_google material-symbols-outlined">
                  event_available
                  </span>
                <span class="ms-1 d-none d-sm-inline">Calendário</span>
              </a>
            </li>
            <li class="nav-item" routerLinkActive="item-selected">
              <a [routerLink]="['/search']" class="nav-link align-middle px-0">
                <span class=" icons_google material-symbols-outlined">
                  quick_reference_all
                  </span>
                <span class="ms-1 d-none d-sm-inline">Pesquisa</span>
              </a>
            </li>
            <li class="nav-item disabled">
              <a [routerLink]="['/']" class="nav-link align-middle px-0">
                <span class="icons_google material-symbols-outlined">
                  settings
                  </span>
                <span class="ms-1 d-none d-sm-inline">Configurações</span>
              </a>
            </li>
            <li class="nav-item disabled">
              <a [routerLink]="['/']" class="nav-link align-middle px-0">
                <span class="icons_google material-symbols-outlined">
                  payments
                  </span>
                <span class="ms-1 d-none d-sm-inline">Subscrição</span>
              </a>
            </li>
            <li class="nav-item" routerLinkActive="item-selected">
              <a [routerLink]="['/list-users']" class="nav-link align-middle px-0">
                <span class="icons_google material-symbols-outlined">
                  group
                  </span>
                <span class="ms-1 d-none d-sm-inline">Administrador</span>
              </a>
            </li>
          </ul>
        </div>
      </div> 
      <div class="col py-3 card-principal">
        <app-toast *ngIf="accessToken"></app-toast>
        <router-outlet></router-outlet>
      </div>
    </div>
</div>
<app-toast *ngIf="!accessToken"></app-toast>
<router-outlet *ngIf="!accessToken"></router-outlet>
<app-custom-loader></app-custom-loader>
