.title {
  border-left: 1px solid #fff;
  padding: 1px 12px;
}

#navbarNav {
  width: 60%;
  // background: red;
  height: 100%;
  align-items: center;
  justify-content: space-around;
  margin: auto;
}

#navbarButtons {
  width: 20%;
  // background: magenta;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;

  .btn-icon-link {
    color: #fff !important;
    font-size: 16px !important;

    &:hover span {
      color: white !important;
    }
  }
}

.router-link-active {
  background-color: #00447C !important;
  color: #fff !important;
}

.hvr-underline-from-center {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  overflow: hidden;
}

.hvr-underline-from-center:before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 51%;
  right: 51%;
  bottom: 0;
  background: #fff;
  height: 4px;
  -webkit-transition-property: left, right;
  transition-property: left, right;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}

.hvr-underline-from-center:hover:before, .hvr-underline-from-center:focus:before, .hvr-underline-from-center:active:before {
  left: 0;
  right: 0;
}