.background {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  right: 0;
  width: 100vw;
  height: 100vh;
  background: linear-gradient(to bottom left, rgb(255 68 68 / 18%) 0%, rgba(255, 255, 255, 0) 25%);
  z-index: -1;
}

#login-container {
  width: 25%;
}

.title {
  color: #000000;
  font-size: 3rem;
  font-weight: bold;
  margin-bottom: 1%;
}

.form-group {
  label {
    font-size: 0.9rem;
  }
}

.form-control {
  background-color: #fafdff;
  border: 1px solid #9f9f9f !important;
  border-radius: 8px;
}

a {
  text-decoration: underline;
}

.forgot-password-link span {
  color: #b6b6b6
}

.btn-advance {
  border: none;
  color: #fff;
  font-weight: 500;
  border-radius: 6px !important;
  background-color: #43d19e;
  display: flex;
  padding: 1%;
  min-height: 40px;
  min-width: 10rem;
  margin: 15% 0% 3%;
  justify-content: center;
  align-items: center;
}

.dds__arrow-right {
  font-weight: bold;
}

.create-account-link span {
  font-weight: 500;
  color: #000000
}

.invalid-field {
  border: 2px solid #ff0000 !important;
}

.invalid-message {
  display: flex;
  color: #ff0000;
}