<div class="wrapper">
  <div class="title">
    <span>
    Administrador
  </span>
  <label>
    Pesquise e edite dados dos clientes.
  </label>
  </div>
  <div class="container">
   <div class="wrapper"> 
    <form [formGroup]="filterForm"> 
      <div class="header">
        <div class="row"> 
          <div class="col-4">
            <input type="text" class="form-control " placeholder="Nome de usuário" formControlName="name">
          </div>
          <div class="col-4">
            <input type="email" class="form-control" placeholder="Pesquisa por E-mail" formControlName="email">
          </div>
          <div class="col-4">
              <ng-select
              placeholder="Filtro por perfil"
              [items]="roles"
              bindLabel="name"
              [searchable]="true"
              [clearable]="false"
              [multiple]="false"
              formControlName="profile">
              </ng-select>
          </div>
          <div class="col-4 mt-4">
            <input 
            [placeholder]="!cpfInput ? 'Filtro por CNPJ':'Filtro por CPF'"
            type="text" 
            [mask]="!cpfInput ? '00.000.000/0000-00':'000.000.000-00'" 
            class="form-control " 
            formControlName="cpfCnpj" 
            name="CPF/CNPJ">
          </div>         
        </div>
        <div class="row buttons">
          <div class="col-6 toggle-container">
            <div>
                <span (click)="togleCpfCnpj(true)" class="cpf-side" [ngClass]="{'toggle-selected': cpfInput}">
                    CPF
                </span>
                <span (click)="togleCpfCnpj(false)" class="cnpj-side" [ngClass]="{'toggle-selected': !cpfInput}">
                    CNPJ
                </span>
            </div>                    
          </div>
          <div class="col-6 buttons-filter">
            <div class="clean-filter" (click)="clearFilters()">Limpar</div>
            <button class="aply-filter" (click)="applyFilter()">Pesquisar</button>
          </div>
        </div>
      </div>  
    </form>
    <div class="responsive-table">
      <div class="table-backgound">
        <div class="row line-header">
          <div class="col-3 user-name-label" (click)="orderByName()">
            <span>Nome do usuário</span>
            <div class="static-filter">
              <span class="dds__icons dds__chevron-up"  [ngClass]="{'arrow-highlight' : nameOrder == 'ASC'}"></span>
              <span class="dds__icons dds__chevron-down" [ngClass]="{'arrow-highlight' : nameOrder == 'DESC'}"></span>
            </div>
          </div>
          <div class="col-2 function-header">
            <span>Perfil</span>
          </div>
          <div class="col-1">
            <span>Status</span>
          </div>
          <div class="col-2">
            <span>Abrangência</span>
          </div>
          <div class="col-2">
            <span>CPF/CNPJ</span>
          </div>
          <div class="col-2">
            <span>Ações</span>
          </div>
        </div>
        <div>
          <div class="table-scroller">
          <div class="table-content-no-data dark_row" *ngIf="users.length === 0">
            <span>Nenhum resultado encontrado</span>
          </div>
          <div class="table-content2" *ngFor="let user of users;  let i = index">
            <div class="table-content"  (click)="select(i)" [ngClass]="{'dark_row': i % 2 !== 0}">
              <div class="row" [ngClass]="{'selected': i === selected} ">
                <div class="col-3 user-name">
                  <div>
                    <span>{{ user.name}} {{ user.lastName}}</span>
                    <label>{{ reduceEmail(user.email) }}</label>
                  </div>
                </div>
                <div class="col-2">
                  <span>{{ user.role.name }}</span>
                </div>
                <div class="col-1">
                  <span>{{ user.active ? 'Ativo' : 'inativo' }}</span>
                </div>
                <div class="col-2">
                  <span> Placeholder </span>
                </div>
                <div class="col-2">
                  <span>{{ user.cpfCnpj | cpfCnpjFormat }}</span>
                </div>
                <div class="col-2 buttons-div">
                  <span class="details material-symbols-outlined" (click)="userDetails(user.id)">
                    visibility
                  </span>
                  <span class="change-password material-symbols-outlined" (click)="resetPasswordUser(user.email)">
                    lock_reset
                  </span>
                </div>
              </div>
            </div>
          </div>
          </div>
        </div>
      </div>
    </div>
  </div> 
</div>

