@import 'variables';
@import '../node_modules/bootstrap/scss/bootstrap';

@import url('https://uicore.dellcdn.com/1.6.1/css/dds-fonts.css');

@import '@angular/material/prebuilt-themes/deeppurple-amber.css';

body {
  font-family: 'Roboto', sans-serif !important;
  overflow-x: hidden;
}

@font-face {
  font-family: 'clarity-icons';
  src: url('assets/fonts/Clarity-Icon-Library-4-1-1.eot');
  src: url('assets/fonts/Clarity-Icon-Library-4-1-1.eot?#iefix') format('embedded-opentype'),
       url('assets/fonts/Clarity-Icon-Library-4-1-1.woff') format('woff'),
       url('assets/fonts/Clarity-Icon-Library-4-1-1.woff2') format('woff2'),
       url('assets/fonts/Clarity-Icon-Library-4-1-1.ttf') format('truetype'),
       url('assets/fonts/Clarity-Icon-Library-4-1-1.svg#clarity-icons') format('svg');
  font-weight: normal;
  font-style: normal;
}

.icon{
  font-family: 'clarity-icons';
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  display: inline-block;
  -webkit-font-smoothing: antialiased;
  position: relative;
}

// Modificação: Bootstrap para Dell Clarity
.form-group {
  margin-bottom: 24px !important;

  label {
    font-size: 13px;
    color: #333333;
    margin-bottom: 3px;
  }

  .label-required {
    color: #CE1126;
  }

  .form-control {
    font-family: 'Roboto', sans-serif !important;
    border: 1px solid #888888;
    border-radius: 0;
    color: #333333;
    height: 40px;
    padding: 0px 16px;
    font-size: 13px;
  }

  .form-control:disabled, .form-control[readonly] {
    background-color: #eaeae9;
    opacity: 1;
    cursor: not-allowed;
  }

  textarea.form-control {
    height: 160px !important;
  }

  .form-control::placeholder {
    color: #cccccc;
  }

}

.ngx-slider-pointer {
  background-color: #e43600 !important;
  width: 25px !important;
  height: 25px !important;
  top: -11px !important;
}
.ngx-slider-pointer:after {
  display: none;
}
.ngx-slider-bubble {
  background-color: #e43600 !important;
  color: #fff !important;
}
.ngx-slider-selection {
  background-color: #e43600 !important;
}
.mat-mdc-form-field-has-icon-suffix .mat-mdc-text-field-wrapper {
  border: 1px solid #5e5adb;
}

.btn {
  font-family: 'Roboto', sans-serif !important;
  height: 40px !important;
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  font-size: 13px !important;
  border-radius: 2px !important;
  letter-spacing: 0.52px !important;
  padding: 0 24px !important;

  i {
    margin-right: 8px;
  }
}

.btn-primary {
  color: #fff;
  background-color: #0076CE;
  border-color: #0076CE;
}

.btn-secondary {
  background-color: #6EA204;
  border-color: #6EA204 !important;
}

.btn-icon-link {
  height: fit-content !important;
  width: fit-content !important;
  font-size: 22px !important;
  padding: 0px !important;
  color: #0076CE;
  i {
    margin-right: 0 !important;
  }
}

.btn-text {
  color: #0076CE;
  background-color: transparent;
  border-color: none;
}

.btn-primary:hover {
  background-color: #00447C;
  border-color: #00447C;
}

.btn-secondary:hover {
  background-color: #588500;
  border-color: #588500;
}

.btn-icon-link:hover {
  color: #00447C !important;
  span {
    color: #00447C !important;
  }
}

.btn-outline-primary:hover {
  color: #0076CE;
  background-color: #e0f2ff;
  border-color: #0076CE;
}

.btn-outline {
  background-color: #fff;
  border: 1px solid #0076CE !important;
  color: #0076CE !important;
  border-radius: 2px !important;
  padding: 8px 16px !important;
  font-size: 13px !important;
  height: 35px !important;
}

.custom-checkbox .custom-control-label::before {
  border-radius: 2px;
}

.custom-control-input:checked ~ .custom-control-label::before {
  color: #fff;
  border-color: #0076CE;
  background-color: #0076CE;
}

.bg-primary {
  background-color: #0076CE !important;
}

.navbar {
  height: 56px;
  padding: 0 32px;
}

.navbar-nav, .nav-item, .nav-link {
  height: 100%;
  display: flex !important;
  align-items: center;
  font-size: 13px;
}

.navbar-dark .navbar-nav .nav-link {
  color: #fff;
  padding: 0 24px;
}

.navbar-brand {
  font-size: 16px;
  display: flex;
  align-items: center;
  padding: 0;
  width: 20%;
  height: 100%;
}

.navbar-collapse {
  background: #0076ce;
  width: 100%;
  margin: 0px -32px;
}

.navbar-dark .navbar-toggler {
  color: #fff;
  border: 0px;
  border-radius: 0 !important;
}

.container {
  padding: 0px 114px 56px 114px !important;
  height: 78%;
  width: 90%;
  position: absolute;
  border-radius: 13px;
  background-color: #fbfaf4;
  box-shadow: 0 10px 20px 0px #9191919c;
}

.list-group {
  border-radius: 0;
  .list-group-item {
    color: #333333;
    font-size: 13px;
  }
}

.invisible-label {
  padding-bottom: 16px;
}

.input-info {
  color: #CCCCCC;
  font-size: 12px;
  margin-top: 4px;
}

.dropdown-menu {
  border-radius: 20px;
  padding: 0px;
  box-shadow: 0px 2px 5px #00000029;

}
/* 
.ng-dropdown-panel {
  position: relative !important;
} */
.ng-option {
  border-top: 1px solid #c0c0c0;
}
/* .dropdown-item {
  font-size: 13px;
  padding: 8px 16px;
  letter-spacing: 0;
  color: #333333 !important;
  cursor: pointer;
}
.dropdown-item.active, .dropdown-item:active {
  background-color: #E7F1FA;
}
.dropdown-item:hover, .dropdown-item:focus {
  background-color: #F4F4F4;
}
 */
.pill {
  background: #0076CE;
  padding: 4px 16px;
  min-height: 32px;
  color: #ffffff;
  font-size: 14px;
  font-weight: normal;
  width: fit-content;
  border-radius: 20px;
  margin-right: 8px;
  display: flex;
  align-items: center;
  .icon {
    margin-right: 8px;
    font-size: 16px;
  }
}
.button-orange-acept {
  background-color: #e4531e;
  border: none;
  color: #fff;
  width: 100%;
  padding: 1%;
  border-radius: 7px;
}
/* .modal-dialog {
  max-width: 80%;
}
.modal-content {
  border-radius: 0px;
  border: 0;
  box-shadow: 0px 3px 6px #00000029;
  .modal-header {
    border-bottom: 0;
    .modal-title {
      color: #444444;
      font-size: 20px;
      font-weight: 500;
      text-transform: uppercase;
      letter-spacing: 0px;
    }
  }
}
 */
/* Form Validation */
.invalid-alert {
  color: red;
}

.ng-dirty.ng-invalid[required], .ng-dirty.ng-invalid.required  {
  border: 1px solid red;

  &.not-valid-form {
    border: 1px solid #888888
  }
}

.responsive-table {
  overflow: auto;
}

/* Scroll Bar */
::-webkit-scrollbar {
  height: 6px;
  width: 5px;
  background: #0073e6;
}

::-webkit-scrollbar-thumb:horizontal {
  background: #1e0000;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:vertical {
  background: #d10a0a;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover{
  background: #777;
}

:root{
  scrollbar-width: thin;
}

* {
  scrollbar-width: thin;
}

.horizontal-line {
  border-top: 1px solid #e4e4e4;
  width: 100%;
}

.ng-select.ng-select-disabled>.ng-select-container {
  background-color: #eaeae9 !important
}

.ng-select.ng-select-multiple.ng-select-disabled>.ng-select-container .ng-value-container .ng-value .ng-value-label {
  padding: 0 5px;
  background-color: #dfdfdf !important;
  border-radius: 3px;
}


@media (min-width: 576px) {
  .container {
    max-width: 90%;
  }
}

@media (min-width: 768px) {
  .container-md,.container-sm,.container {
    max-width: 90%;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 90%;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 90%;
  }
}

@media (min-width: 1400px) {
  .container {
    max-width: 83%;
  }
  .menu-item-label {
    display: block !important;
  }
  .side-menu-body {
    width: 12% !important;
  }
}